################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Projekt/v17
/.vs/Projekt/FileContentIndex
/02 - hurtownia/Generator/.vs/Generator/v17
/02 - hurtownia/Schemat/ERD - hurtownia.mdj
/01 - baza/Generator/.vs/Generator/v17/Browse.VC.opendb
