################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/[1] Schemat/Model bww — kopia.mdj
/[1] Schemat/Model ww.mdj
/[1] Schemat/Model.mdj
